.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    z-index: 3;
    &__link {
        transform: rotate(-90deg);
        transition: all 0.6s;
        &:hover {
            transform: rotate(0deg);
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }
}
